.sitemap {
  background-color: black;
  color: blue;
  padding: 10px;
}

.sitemap ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sitemap li {
  margin-bottom: 5px;
}

.sitemap a {
  color: blue;
  text-decoration: none;
}

.sitemap a:hover {
  text-decoration: underline;
}

