.container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.signup-page,
.login-page,
.our-mission-page,
.all-around-world-page,
.get-the-app-page,
.conservation-page,
.group-bookings-page,
.extended-trips-page,
.contact-us-page {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding: 20px;
}

.get-the-app-page .app-images {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.get-the-app-page .app-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.conservation-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

@media (min-width: 600px) {
  .signup-page,
  .login-page,
  .our-mission-page,
  .all-around-world-page,
  .get-the-app-page,
  .conservation-page,
  .group-bookings-page,
  .extended-trips-page,
  .contact-us-page {
    width: 195vh;
  }

  .get-the-app-page .app-images {
    flex-wrap: nowrap;
  }

  .conservation-content {
    flex-direction: row;
  }
}

.signup-page {
  background-color: #000022;
  color: white;
}

.login-page {
  background-color:#87CEFA;
}

/* .our-mission-page {
  background-color: #6495ED;
} */

.all-around-world-page {
  background-color: #4682B4;
}

.get-the-app-page {
  background-color: #4169E1;
}

.conservation-page {
  background-color: #007BA7;
}

.group-bookings-page {
  background-color: #000080;
}

.extended-trips-page {
  background-color: #001247;
}

.contact-us-page {
  background-color: black;
  color: white;
}

.qr-codes {
  display: flex;
  justify-content: space-around;
}

