body.dark .app {
  background-color: #000000;
}

body.dark .navbar-top {
  background-color: #000000;
  color: white;
}

body.dark .navbar-top__settings ul {
  background-color: #000000;
}

body.dark .mode-button--selected {
  background-color: #ccc;
}

body.dark .navbar-left {
  background-color: #333;
  color: #fff;
}

body.dark .dashboard {
  background-color: #f0f0f0;
}

body.dark .footer {
  background-color: #1a1a1a;
  color: white;
}

body.dark .diveLogBook {
  background-color: #f9f9f9;
}

body.dark form {
  background-color: #f2f2f2;
}

body.dark form input[type="text"] {
  border: 1px solid #ccc;
}

body.dark form button[type="submit"] {
  background-color: #2196f3;
  color: #fff;
}

body.dark .navbar-top__settings ul li:hover {
  background-color: #1976d2;
}

