body.ocean .app {
  background-color: #0099cc;
}

body.ocean .navbar-top {
  background-color: #003366;
  color: white;
}

body.ocean .navbar-top__settings ul {
  background-color: #000000;
}

body.ocean .mode-button--selected {
  background-color: #ccc;
}

body.ocean .navbar-left {
  background-color: #003366;
  color: #fff;
}

body.ocean .dashboard {
  background-color: #f0f0f0;
}

body.ocean .footer {
  background-color: #1a1a1a;
  color: white;
}

body.ocean .diveLogBook {
  background-color: #f9f9f9;
}

body.ocean form {
  background-color: #f2f2f2;
}

body.ocean form input[type="text"] {
  border: 1px solid #ccc;
}

body.ocean form button[type="submit"] {
  background-color: #2196f3;
  color: #fff;
}

body.ocean .navbar-top__settings ul li:hover {
  background-color: #1976d2;
}

